.sumer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.egypt-header-2 {
    font-size: 20px;
}

@media only screen and (max-width: 1020px) {
    .egypt-header-2 {
        font-size: 1rem;
    }
}

iframe {
    max-width: 600px;
    max-height: 400px;
    padding-right: 10px
}