.sumer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.left-content {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.right-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.right-content img {
    max-width: 80%;
    height: auto;
}

@media screen and (min-width: 1020px) {
    .content-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .left-content {
        padding-left: 6rem;
        width: 100%;
        padding-right: 2rem;
        text-align: left;
    }

    .right-content {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
        max-height: 60%;
    }
}

.left-content h2 {
    font-size: 2rem;
}

.left-content p {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1020px) {
    .left-content h2 {
        font-size: 1.5rem;
    }

    .left-content p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 760px) {
    .left-content h2 {
        font-size: 1.2rem;
    }

    .left-content p {
        font-size: 0.9rem;
    }
}

.dropdown-container {
    margin-top: 6rem;
    margin-bottom: -4rem;
    padding-left: 2rem
}

label {
    margin-right: 5px;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
}

.egypt-header-2 {
    font-size: 20px;
}

@media only screen and (max-width: 1020px) {
    .egypt-header-2 {
        font-size: 1rem;
    }
}

.right-content {
    position: relative;
    z-index: -1;
}

.right-content img {
    display: block;
    max-width: 80%;
}

.right-content p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: 0;
    color: white;
    font-size: 18px;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}