.footer {
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
}


.credit-box p {
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: white;
}

.credit-box p:first-of-type {
    color: black;
}


.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: white;
}

@media (min-width: 768px) {
    .footer .container {
        flex-direction: row;
    }

    .credit-box {
        margin-right: 20px;
        margin-bottom: 0;
    }
}