body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: #574848;
    text-align: center;
    margin-top: 7rem;
}

.history-header {
    font-size: 2rem;
}

Link {
    text-decoration: none;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-top: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #E3A981;
    color: #fff;
    margin: 0 20px 20px 0;
    padding: 20px;
}

@media only screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .box {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 20px;
        margin: 10px;
        width: 300px;
        height: 300px;
        padding: 30px;
    }

    @media only screen and (max-width: 500px) {
        .box {
            width: 200px;
            height: 200px;
            padding: 15px;
        }
    }
}